<div class="container-circle">
   <div class="area-circulo">
      <div class="rounded-circle circle"></div>
      <div class="rounded-circle circle-area-1 circles alinhar-texto">
        <p class="texto-circulo">Banco de horas</p>
      </div>
      <div class="rounded-circle circle-area-2 circles alinhar-texto">
        <p class="texto-circulo">Dados Pessoais</p>
      </div>
      <div class="rounded-circle circle-area-3 circles alinhar-texto">
        <p class="texto-circulo">Time B2ML</p>
      </div>
      <div class="rounded-circle circle-area-4 circles alinhar-texto">
        <p class="texto-circulo">Financeiro</p>
      </div>
      <div class="rounded-circle circle-area-5 circles alinhar-texto">
        <p class="texto-circulo">Evolução</p>
      </div>
      <div class="rounded-circle circle-area-6 circles alinhar-texto">
        <p class="texto-circulo">Solicitações</p>
      </div>
      <div class="rounded-circle circle-area-7 circles alinhar-texto">
        <p class="texto-circulo">Informações</p>
      </div>
      <div class="rounded-circle circle-area-8 circles alinhar-texto">
        <p class="texto-circulo">Projetos</p>
      </div>
      <div class="rounded-circle circle-area-9 circles alinhar-texto">
        <p class="texto-circulo">Conhecimentos</p>
      </div>
   </div>
</div>
