.fundo-walpp{
  background-image: url('../../assets/images/Wallpaper\ 1.png');
  position: absolute;
  //background-repeat: no-repeat;
  //background-size: cover;
  background-position: center center;


}
